@tailwind base;
@tailwind components;
@tailwind utilities;


.cursor{
    height: 15px;
    width: 15px;
    position: fixed;
    border-radius: 50%;
    background-color: #5b51b1c7;
    z-index: -1;
    transition: all linear 0.07s;
  }
  
  #arrow{
    height: 190px;
    width: 190px;
    background-color: transparent;
    border: 2px solid #5b51b1c7;
    position: absolute;
    display: flex;
    left: -2%;
    bottom: 0%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all ease 0.5s;
}

#arrow:hover{
    scale: 0.4;
    background-color: #5b51b198;
}

#arrow i{
    font-size: 50px;
    font-weight: 600;
}
  